{{#each schools as |school|}}
  <section data-id="{{school.id}}">
    <div>
      <p>
        {{#if school.name}}
          {{school.name}}<br/>
        {{else}}
          Your school Name is missing.<br/>
        {{/if}}
        {{#if school.address}}
          {{school.address}}<br/>
        {{else}}
          Your school address is missing.<br/>
        {{/if}}
        {{#if school.city}}
          {{school.city}}<br/>
        {{else}}
          Your school City is missing.<br/>
        {{/if}}
      </p>
      <button id="deleteSchoolButton">Remove this school</button><br/><br/>
    </div>
  </section>

{{/each}}
